USE [master]
GO
/****** Object:  Database [NextJsPrac]    Script Date: 7/11/2025 7:03:54 PM ******/
CREATE DATABASE [NextJsPrac]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NextJsPrac', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NextJsPrac.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NextJsPrac_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NextJsPrac_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NextJsPrac].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NextJsPrac]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 7/11/2025 7:03:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[EMAIL] [nvarchar](250) NOT NULL,
	[PASSWORD] [nvarchar](250) NOT NULL,
	[MOBILE] [nvarchar](250) NOT NULL,
	[NATIONALITY] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
